@using IlkProje
@model List<Ogrenci>


<div class="text-center">
   <table>
    @foreach(Ogrenci item in Model){

        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
        </tr>

    }
   </table>
</div>
